@import url(https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Playfair+Display:wght@500&family=Rokkitt:wght@100&display=swap);

.ArticleArea
{
    object-fit: contain;
}

.Article
{
    padding: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.938);
    margin-bottom: 25px;
    border-radius: 10px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(206, 206, 206, 0.116);
}

.ImageOfArticle
{
    max-width: 90%;
    max-height: 90%;
    display:block;
    margin-left:auto;
    margin-right: auto;
    object-fit: contain;
    border-radius: 2%;
    margin-bottom: 27px;
}

.TextOfArticleArea
{
    text-align: center;
    padding-left: 17px;
    padding-right: 17px;
}

.TitleOfArticleArea
{
    object-fit: contain;
    margin-bottom: 4px;
}

.TitleOfArticleFont
{
    font-size: 158%;
    font-weight: bold;
    font-family: 'STIX Two Text';
    line-height: 25px;
}

.AuthorOfArticleArea
{
    object-fit: contain;
    margin-bottom: 22px;
}

.AuthorOfArticleFont
{
    font-family: 'serif';
    font-size: 75%;
    line-height: 0px;
}

.ContentOfArticleArea
{
    text-align: left;
    overflow: hidden;
    margin-bottom: 30px;
}

.ContentOfArticleFont
{
    white-space: pre-wrap;
    font-family: 'Newsreader';
    font-weight: bold;
    font-size: 90%;
}

.ShareButtonsList
{
    text-align:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ShareElement
{
    display:inline;
}